@mixin contentTicketHubVideo {
	body {
		overflow-x: hidden !important;
	}

	.bg__main {
		background-image: none !important;
		background: none !important;
	}
	.features {
		background-color: #fff !important;
	}

	.content__show {
		padding-bottom: 50px;
		margin-top: 0;
		padding-top: 50px;
		overflow-x: hidden;
	}
}
