$primary: #222;
$secundary: #fb7736 !important;

$itau-laranja-escuro: #fb7736;
$itau-laranja-claro: #fb9226;

$white: #ffffff;
$black: #2d313c !default;
$border-color: #333;
$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
