@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../to-framework/main.scss";

header.bg-dark {
	// background-color: rgb(202, 8, 19) !important;
	background-color: rgb(255, 255, 255) !important;
}

footer {
}
.header__logo .img {
	height: 55px;
	width: 100%;
}

.footer__logo .img {
	// background-image: url(/assets/logo-famillyproducoes-footer.png) !important;
}

$gradiente: $secundary !important;

.swal2-progresscircle {
	background: $secundary !important;
}

&:hover {
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	@include box-shadow();
}

.header__signin {
	color: #333;
}

.bg-dark {
	background-color: $secundary !important;
}
