@function url-friendly-colour($colour) {
	@return '%23' + str-slice('#{$colour}', 2, -1);
}

@mixin randomBG($colour) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_3' x='0px' y='0px' viewBox='0 0 1345.7 869.8' style='enable-background:new 0 0 1345.7 869.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:"+safe-rgb($colour)+";%7D .st1%7Bfill:%23FFFFFF;fill-opacity:0.1;%7D%0A%3C/style%3E%3Ctitle%3E11%3C/title%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='1419.33' y1='8841.4688' x2='1471.5165' y2='7812.6489' gradientTransform='matrix(8.000000e-02 1.38 -1.2 7.000000e-02 10556.291 -2142.6802)'%3E%3Cstop offset='0' style='stop-color:%23FF8A7E'/%3E%3Cstop offset='1' style='stop-color:%23FE6655'/%3E%3C/linearGradient%3E%3Cpath class='st0' d='M0,869.8V0h1345.7v869.8H0z'/%3E%3Cpath class='st1' d='M993.6,147.7c44.6,66.6-15.8,158.4-108.3,166.2c-26.6,2.3-58.8,3.6-97.4,3.1 c-184.4-2.5-407.6,131.2-474.9,158.3c-120.2,48.3-445,95.9-310.7-106C178.1,105.4-8.8-94.4,134.2-148.8 c123.3-46.9,329.9-13.3,426.7,15.9c90,27.2,317.9,120.3,430.9,278.2C992.5,146.1,993,146.9,993.6,147.7z'/%3E%3Cpath class='st1' d='M907.8,998.2c0,0-63.2-137.7-214.1-237.2s-88.4-211-31.6-227.3c38-10.9,229.6,29.7,333.8-46.6 s167.9-160.1,203.7-167.6c34.8-7.3,87.7-30.1,15.5,298.6c-72.2,328.8-144.8,395.2-177.4,419.4 C1016.6,1053.2,961.8,1075.6,907.8,998.2z'/%3E%3C/svg%3E");
	background-size: cover;
}

@function safe-rgb($color) {
	@return unquote("rgb(#{red($color)}, #{green($color)}, #{blue($color)})");
}

@function to-rgb($color) {
	@return unquote("rgb(#{red($color)}, #{green($color)}, #{blue($color)}, 0.3)");
}

@mixin content {
	svg:not(:root).svg-inline--fa {
		overflow: visible;
	}

	.sr-only {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	.sr-only-focusable:active,
	.sr-only-focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}

	.to-block {
		overflow: unset !important;
		padding: 0 !important;
		padding-bottom: 30px !important;
		margin: 0 !important;
	}

	.col-12 > .to-box {
		&:hover {
			box-shadow: 0 0rem 0.9rem rgba(140, 140, 140, 0.8) !important;
			transform: translateY(-1px);
		}
	}

	.col-12 > .to-touch:hover {
		transform: none !important;
	}
	.to-box {
		cursor: pointer;
		box-shadow: 0 0 3px 2px rgba(0, 0, 0, .3);
	}
	.a {
		.to-block .to-box {
			height: 100%;
			transition: 0.5s;

			.img-fluid {
				height: 182px;
				background-position: center;

				// box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) !important;

				@include MQ(M) {
					height: 240px;
				}

				@include MQ(NS) {
					height: 150px;
				}

				&:hover {
				}
			}

			h4 {
				font-size: 0.8rem;
				padding-top: 0;
				margin-top: 0;
				margin-bottom: 0;
			}

			&:hover {
			}

			p {
				font-size: 0.7rem;
				justify-self: bottom;
			}
		}
	}
	$white: #ffffff;

	.bg__main {
		padding: 3em 3em;
		@include MQ(NS) {
		}
		@include MQ(S) {
		}

		@media only screen and (max-width: 720px) {
			padding: 1em !important;
			padding-top: 1em !important;
		}
		// background-image: url('../../../assets/bg.svg')
		background: url('');
		background-size: cover;
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_3' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1345.7 869.8' style='enable-background:new 0 0 1345.7 869.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:"+safe-rgb($secundary)+";%7D .st1%7Bfill:%23FFFFFF;fill-opacity:0.1;%7D%0A%3C/style%3E%3Ctitle%3E11%3C/title%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='1419.33' y1='8841.4688' x2='1471.5165' y2='7812.6489' gradientTransform='matrix(8.000000e-02 1.38 -1.2 7.000000e-02 10556.291 -2142.6802)'%3E%3Cstop offset='0' style='stop-color:%23FF8A7E'/%3E%3Cstop offset='1' style='stop-color:%23FE6655'/%3E%3C/linearGradient%3E%3Cpath class='st0' d='M0,869.8V0h1345.7v869.8H0z'/%3E%3Cpath class='st1' d='M993.6,147.7c44.6,66.6-15.8,158.4-108.3,166.2c-26.6,2.3-58.8,3.6-97.4,3.1 c-184.4-2.5-407.6,131.2-474.9,158.3c-120.2,48.3-445,95.9-310.7-106C178.1,105.4-8.8-94.4,134.2-148.8 c123.3-46.9,329.9-13.3,426.7,15.9c90,27.2,317.9,120.3,430.9,278.2C992.5,146.1,993,146.9,993.6,147.7z'/%3E%3Cpath class='st1' d='M907.8,998.2c0,0-63.2-137.7-214.1-237.2s-88.4-211-31.6-227.3c38-10.9,229.6,29.7,333.8-46.6 s167.9-160.1,203.7-167.6c34.8-7.3,87.7-30.1,15.5,298.6c-72.2,328.8-144.8,395.2-177.4,419.4 C1016.6,1053.2,961.8,1075.6,907.8,998.2z'/%3E%3C/svg%3E%0A");

		// background: linear-gradient(to bottom left, $secundary, to-rgb($secundary)) !important;
	}

	#section__slider,
	.bg__main {
		.container-fluid {
			max-width: 1200px;
		}
	}

	.container__new {
		margin: 0 auto;
		max-width: 1400px;
	}

	.text-left {
		@media only screen and (min-width: 720px) {
			padding-left: 0 !important;
		}
	}

	p.next__events {
		font-size: 10px;
		color: white;
		font-weight: bold;
		border: 1px solid white;
		border-radius: 5px;
		transition: 0.7s;
		cursor: pointer;

		&:hover {
			transform: translateY(-2px);
			background: white;
			color: #222;
		}
	}

	.img-fluid.rounded-0::before,
	.img-fluid.rounded-0::after {
		content: "";
		background-repeat: repeat;
		filter: blur(3px);
		z-index: 1;
	}

	input:-moz-placeholder {
		color: #333;
	}

	input::-webkit-input-placeholder {
		color: #333;
	}

	.to-viewport {
		padding-bottom: 150px !important;
	}

	#section__slider {
		margin-top: -150px;
	}

	.a {
		h3 {
			font-size: 1.5rem;
			font-weight: bold;
			margin-bottom: 0;
			color: #444;
			padding-left: 0;
		}
	}

	body {
		background: #f8f8f8;
	}

	.containerNew {
		margin-bottom: 100px;
		margin-top: -150px;
	}

	.event__title {
		text-transform: capitalize !important;
		font-size: 14px !important;
		color: rgb(68, 68, 68);
		margin-top: 0;
		padding-top: 0;
	}

	.event__date {
		position: absolute;
		top: 0;
		left: 15px;
		background-color: #2d313c;
		color: #fff;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		@include box-shadow();

		padding: 0.5em;
		span {
			display: block;
			text-align: center;
		}
		.day {
			font-weight: 700;
			font-size: 20px;
			text-shadow: 2px 3px 2px rgba($black, 0.1);
		}
		.month {
			text-transform: uppercase;
		}
		.month,
		.year {
			font-size: 13px;
		}
	}

	.bold {
		font-weight: 500 !important;
	}
	.event__item-date {
		background: url('/assets/icons/calendar.svg') no-repeat 5px center;
		background-size: 16px;
		margin-left: -6px !important;
		font-size: 13px !important;
		margin-top: 4px !important;
		padding-left: 28px !important;
		transition: 0.5s;

		// color: #333;
	}
	.event__item-local {
		background: url('/assets/icons/map-pin.svg') no-repeat 5px center;
		background-size: 16px;
		margin-left: -6px !important;
		font-size: 13px !important;
		padding-left: 28px !important;
		text-transform: unset !important;
		// color: #333;
	}
	.date__item-event {
		background: url('/assets/icons/star-white.svg') no-repeat 5px center;
		background-size: 10px;
		margin-left: -8px !important;
		font-size: 13px !important;
		padding-left: 18px !important;
		text-transform: unset !important;
		// color: #333;
	}
	.date__item-local {
		background: url('/assets/icons/map-pin-white.svg') no-repeat 5px center;
		background-size: 10px;
		margin-left: -8px !important;
		font-size: 13px !important;
		padding-left: 18px !important;
		text-transform: unset !important;
		// color: #333;
	}
	.row__events .col-10 {
		@include MQ(S) {
			margin: 0 auto;
		}
	}

	.container__search--tickethub {
		@include MQ(S) {
		}

		@media only screen and (max-width: 720px) {
			display: none !important;
		}
	}

	.btn-secondary {
		border-color: 0px solid black !important;
	}

	.to-btn {
		background: $secundary !important;
		border: none !important;
		border-radius: 20px;
		transition: 0.3s;
		color: #fff;
		&:hover {
			transform: translateY(-1px);
			color: #fff;
		}
		&:focus {
			color: #fff;
		}
	}

	.event__description * {
		color: white;
	}

	.bouton-contact {
		background: $secundary !important;
	}

	.contentform {
		font-size: 14px !important;
	}

	.icon-case {
		background: none !important;

		i {
			font-size: 0.9em !important;
		}
	}
}

.to-block .to-touch {
	border-top-color: $secundary !important;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#swal-email1,
#swal-email2,
#swal-email3,
#swal-email4,
#swal-email5 {
	font-size: 12px !important;
}

.swal2-center .swal2-popup .swal2-title {
	font-size: 1.6em;
	margin-top: 50px;
}

.mobile__hidden {
	@include MQ(S) {
		display: none;
	}
}

.mobile__only {
	@include MQ(NS) {
		display: block;
	}
}
