@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../to-framework/main.scss";

header.bg-dark {
	// background-color: rgb(202, 8, 19) !important;
	// background-color: rgb(255, 255, 255) !important;
}
.header__logo .img {
	height: 50px !important;
	width: 100%;
}

// footer.bg-dark {
// 	background-color: rgb(255, 255, 255) !important;
// 	color: black !important;
// }

// footer a,
// footer p {
// 	color: black !important;
// }

.team-1,
.features,
#section__slider {
	background: #f3f3f3 !important;
}

// footer.bg-dark a {
// 	color: black !important;
// }

// footer .img {
// 	// background: #fff;
// 	// background-position: center !important;
// 	// border-radius: 2px;
// }

$gradiente: $secundary !important;

.header__logo .img {
	height: 55px;
	width: 100%;
	background-position: left center;
}

.swal2-progresscircle {
	background: $secundary !important;
}

.swal2-styled {
	font-size: 0.8rem;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
	background: $secundary !important;
	border: none;
	color: white;
	transition: 0.5s;

	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		@include box-shadow();
	}
}

#ddown1 button {
	color: black !important;
}

.navbar-fixed-top .to-btn {
	color: #fff !important;
}

.bg__main {
}

header.bg-dark,
footer.bg-dark {
	background: #212121 !important;
	border-bottom: 1px solid #111;
}

.bg__main {
	background: #1a2a6c; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fdbb2d,
		#b21f1f,
		#1a2a6c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	// background: linear-gradient(135deg, #196dd4 10%, #01a2e7);
	@include MQ(S) {
		display: none !important;
	}
}

.eventHeader header.bg-dark,
.header__mobile {
	background: #212121 !important;
}

#modals-container .btn-success:hover,
#modals-container .btn-success:focus,
#modals-container .btn-success {
	background: #212121 !important;
}
.eventHeader header.navbar-fixed-top {
	background: #212121 !important;
}

.v--modal-overlay {
	z-index: 999999 !important;
}
