$primary:#ffffff !default;
$secundary: rgb(16,108,200) !default;

$white: #fff !default;
$black: #2d313c !default;
$border-color: #222;

$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
