.content__sac {
	a {
		padding-left: 14px;
		margin-left: 2px;
		border-left: 1px solid;
		color: white;
	}

	p {
		margin-bottom: 0;
		padding-left: 0;
		margin-left: 8px;
	}

	h2 {
		text-align: left;
		color: white;
		margin-left: 8px;
		padding-left: 0;
	}

	.event__card {
		padding-bottom: 30px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
  }
  
  .card {
  width: 100%;
  }
}

.container__sac .sac__card {
	background: $black;
}

.sac__card {
	padding-top: 15px;
	background: $black !important;
	box-shadow: $box-shadow;
	border-radius: 5px !important;
	overflow: auto!important;
	p {
		margin-left: 0;
		padding-left: 0;
		margin-left: 8px;
	}
	.title__page {
		@include MQ(NS) {
			border-radius: 5px !important;
			width: auto !important;
			padding: 5px 8px !important;
		}
		@include MQ(S) {
			padding: 5px;
			width: 100%;
		}
		padding-left: 5px;
		border-radius: 5px !important;
		width: 100% !important;
		padding-left: 2px;
		position: relative !important;
		display: inline;
		font-size: 24px;
		/* display: none; */
		font-weight: bold !important;
		color: #fff !important;
		margin-left: 8px;
	}
}
