@mixin slider {
	.swiper-container {
	}

	.swiper-wrapper {
		float: left !important;
		padding-bottom: 3ex;
		padding-left: 1px;
		-webkit-transition-timing-function: linear !important;
		-o-transition-timing-function: linear !important;
		transition-timing-function: linear !important;
	}

	.swiper-button-prev,
	.swiper-button-next {
		right: 0;
		background-color: transparent;
		transition: 0.5s;

		&:focus {
			outline: none;
		}

		img {
			height: 40px;
			transition: 0.4s;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	.swiper-button-prev,
	.swiper-container-rtl,
	.swiper-button-next {
		background-image: none !important;
	}

	.swiper-button-next {
		img {
			&:focus {
				transform: translateX(3px);
				opacity: 0.7;
			}

			&:hover {
				transform: translateX(2px);
			}
		}
	}

	.swiper-button-prev {
		img {
			&:focus {
				transform: translateX(-2px);
				opacity: 0.7;
			}

			&:hover {
				transform: translateX(-2px);
			}
		}
	}

	.swiper-button-disabled {
		display: none;
	}

	.swiper-pagination-bullet {
		margin: -10px 8px !important;
		height: 12px !important;
		width: 12px !important;
		transition: 0.3s;

		&:hover {
			opacity: 0.4;
		}
	}

	.swiper-pagination-bullet-active {
		background: rgba(0, 0, 0, 0.5) !important;
	}

	.slide__image {
		@include MQ(NS) {
			height: 400px;
		}
	}

	.item__slide {
		border-radius: 4px;
		background: #f8f8f8;
		box-shadow: 0px 4.32762px 4.32762px rgba(0, 0, 0, 0.18) !important;
		width: 97%;
		margin: 0 auto;
		margin-bottom: 20px;
		img {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			max-height: 420px;
		}

		h3 {
			font-size: 20px !important;
			padding-bottom: 10px;
		}

		p {
			font-size: 15px;
			font-weight: normal;
			color: #666;
		}
	}

	.item__slide img {
		@include MQ(S) {
			border-top-right-radius: 2px;
			max-height: 200px !important;
			border-bottom-right-radius: 2px;
		}
	}

	.slide__item-icons {
		position: absolute;
		bottom: 50px;
	}

	.slide__item-date {
		background: url('/assets/icons/calendar.svg') no-repeat 5px center;
		background-size: 16px;
		color: #666;
		margin-left: -6px !important;
		font-size: 14px !important;
		padding-left: 24px !important;
		text-transform: unset !important;
	}

	.slide__item-local {
		background: url('/assets/icons/map-pin.svg') no-repeat 5px center;
		background-size: 16px;
		color: #666;
		margin-left: -6px !important;
		font-size: 14px !important;
		padding-left: 24px !important;
		text-transform: unset !important;
	}

	.to__slide {
		@media only screen and (min-width: 720px) {
			padding: 10px 20px 0 5px !important;
			padding-right: 15px;
		}
	}

	.to__slide-button {
		@media only screen and (min-width: 720px) {
			position: absolute;
			bottom: 0;
		}
		margin: 0 auto;

		.btn {
		}
	}
}
