@mixin contentTicketHubSearchHeader {
	.content__show {
		padding-bottom: 50px !important;
		margin-top: 0 !important;
		padding-top: 50px !important;
		overflow-x: hidden;
	}

	body {
		overflow-x: hidden !important;
	}

	.features {
		background-color: #fff !important;
	}

	.v-suggestions {
		z-index: 0 !important;
	}

	.container__sac {
		margin-top: 0 !important;
		padding-top: 40px;
	}
}
