@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../to-framework/main.scss";

$cor-fundo: $primary;
$tamanho-header: 45px;
$gradiente: $secundary !important;
// colocar imagem dentro de url ou cor hex
$fundo: url('/assets/bg-dz9.jpg');


header.bg-dark {
	background-color: $cor-fundo !important;
}

.team-1,
.features,
#section__slider {
	background: #f3f3f3 !important;
}

.footer__logo .img {
	height: 40px;
}

.header__logo .img {
	height: $tamanho-header;
	width: 100%;
	background-position: left center;
}

#ddown1 button {
	color: #000 !important;
}


.bg__main {
	background: $fundo !important;
	background-position: 20% !important;
	background-size: cover !important;
	// background: linear-gradient(135deg, #196dd4 10%, #01a2e7);
	@include MQ(S) {
		display: none !important;
	}
}

.eventHeader header.bg-dark,
.header__mobile {
	background: $cor-fundo !important;
}

.v--modal-overlay {
	z-index: 999998 !important;
}

.navbar-fixed-top {
	background: $cor-fundo !important;
}

.to-btn {
	font-size: 13px !important;
}

.navbar-fixed-top .to-btn {
	font-size: 13px !important;
}

footer.bg-dark {
	background-color: $cor-fundo !important;
	color: $cor-texto !important;
}

footer a,
footer p,
header.bg-dark .navbar-nav a.nav-link,
.to-btn,
.navbar-fixed-top .to-btn {
	color: $cor-texto !important;
	font-weight: normal;

	@include MQ(S) {
		color: $cor-texto !important;
	}
}
