$primary: #0d1d34;
$secundary: rgb(13, 29, 52);

$itau-laranja-escuro: #fb7736;
$itau-laranja-claro: #fb9226;

$white: #ffffff;
$black: #181818;
$border-color: #181818;
$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
