@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../to-framework/main.scss";

header.bg-dark {
	// background-color: rgb(202, 8, 19) !important;
	background-color: none !important;
}
.header__logo .img {
	height: 55px;
	width: 100%;
}

footer.bg-dark {
	background: linear-gradient(
		to right,
		#2c5364,
		#203a43,
		#0f2027
	) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// footer a,
// footer p {
// 	color: black !important;
// }

.team-1,
.features,
#section__slider {
	background: #f3f3f3 !important;
}

// footer.bg-dark a {
// 	color: black !important;
// }

// footer .img {
// 	// background: #fff;
// 	// background-position: center !important;
// 	// border-radius: 2px;
// }

$gradiente: $secundary !important;
.navbar-fixed-top .to-btn {
	// color: white !important;
}
.header__logo .img {
	height: 55px;
	width: 100%;
	background-position: left center;
}

.swal2-progresscircle {
	background: $secundary !important;
}

.swal2-styled {
	font-size: 0.8rem;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
	background: $secundary !important;
	border: none;
	color: white;
	transition: 0.5s;

	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		@include box-shadow();
	}
}

#ddown1 button {
	color: black !important;
}

.bg__main {
	background: #bbd2c5; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #292e49, #536976, #bbd2c5); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#bbd2c5,
		#536976,
		#292e49
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	// background: linear-gradient(135deg, #196dd4 10%, #01a2e7);
	@include MQ(S) {
		display: none !important;
	}
}

.eventHeader header.bg-dark,
.header__mobile {
	background: #0f2027; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2c5364,
		#203a43,
		#0f2027
	) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#modals-container .btn-success:hover,
#modals-container .btn-success:focus,
#modals-container .btn-success {
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027) !important;
}

.eventHeader header.navbar-fixed-top {
	background: white !important;
	background-image: white !important;
}

.v--modal-overlay {
	z-index: 999999 !important;
}
