@mixin contentTicketHub {
	.content__show {
		padding-bottom: 50px !important;
		margin-top: 0 !important;
		padding-top: 50px !important;
		overflow-x: hidden;
	}

	.time__card {
	}

	.fdb_result {
		margin-bottom: 100px;
		margin-top: -150px;
	}

	// .v-suggestions {
	// 	@include MQ(S) {
	// 		z-index: 0 !important;
	// 	}
	// }
}
