@mixin contentTixsme {
	@import url('https://fonts.googleapis.com/css?family=Lato:100,300,500,700,900');

	$texture-bg: url('/assets/texture/texture_tixs_4.png');

	body {
		background: $texture-bg !important;
		background-repeat: repeat;
		background-size: cover;
	}

	#block_search {
		background: $texture-bg !important;
		padding-top: 30px;
	}

	.card_destaques {
		img {
			border-radius: 0 !important;
			padding: 4px !important;
		}

		cursor: pointer;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		border-radius: 2px;
		background-size: cover !important;
		background-position: 75% !important;
		// width: 250px !important;
		height: 200px;
		width: 100%;
		box-sizing: border-box;
	}

	.card__eventos-container {
		padding: 4px;
	}

	.card__eventos {
		cursor: pointer;
		position: relative;
		height: 200px;
		background-size: cover !important;
		background-position: center !important;
		box-sizing: border-box;
		// border: 5px solid #191919;
		display: flex;

		// border-radius: 2px;
		justify-content: center;
		// border-radius: 2px;

		box-shadow: 0 1px 3px rgba(0, 0, 0, 1);

		.card__eventos-img {
		}

		&:hover {
			background-blend-mode: darken;

			.card__eventos-nome,
			.card__eventos-btn {
				transition: opacity .4s ease-out;
				-moz-transition: opacity .4s ease-out;
				-webkit-transition: opacity .4s ease-out;
				-o-transition: opacity .4s ease-out;
				opacity: 1;
			}

			.card__eventos-nome {
				opacity: 0.6s;
			}
		}
	}

	.card__eventos-btn {
		align-self: center;
		text-align: center;
		display: flex;
		border: 1px solid $secundary;
		color: $secundary;
		padding: 6px;
		border-radius: 50%;
		opacity: 0;
	}

	.card__eventos-nome {
		position: absolute;
		bottom: 0;
		color: white;
		background: $secundary;
		// background: rgb(22, 71, 15);
		font-weight: bold;
		font-size: 10px;
		width: 100%;
		padding: 4px;
		min-height: 42px;
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	#block_features {
		// background: #eee;

		padding: 20px 0 40px 0;

		@include MQ(S) {
			padding-top: 0px !important;
		 }
		h2 {
			margin: 0 auto;
			padding-top: 0;
			margin-top: 0;
			color: #fff !important;
			letter-spacing: 3px;
			font-weight: bold !important;
			text-transform: uppercase;
			text-shadow: 0 0 10px #888;
			// text-shadow: 2px 2px 13px white;

			border-bottom: 12px solid transparent;
			// padding-bottom: -4px;
			// margin-bottom: -4px;
			border-image: url('/assets/texture/texture-menu.png') 30 stretch;
			border-image-repeat: no-repeat;
			width: 80%;
			margin-bottom: 10px;
		}
	}

	#block_events,
	#ad_container,
	#block_calendar {
		.container {
			// background: #191919;
			// background: $texture-bg;
			background-size: 20px;
			background-repeat: repeat;
		}
	}
	#ad_container {
		img {
			height: auto !important;
			@include MQ(S) {
				width: 97%!important;
				height: auto !important;
			
			}
		}
	}
	#block_event {
		// background: $texture-bg;
		background-size: 10px;
		background-repeat: repeat;
		padding-top: 15px;

		h2 {
			margin: 0 auto;
			padding-top: 0;
			margin-top: 0;
			color: #fff !important;
			letter-spacing: 3px;
			font-weight: bold !important;
			text-transform: uppercase;
			text-shadow: 0 0 10px #888;
			// text-shadow: 2px 2px 13px white;

			border-bottom: 12px solid transparent;
			// padding-bottom: -4px;
			// margin-bottom: -4px;
			border-image: url('/assets/texture/texture-menu.png') 30 stretch;
			border-image-repeat: no-repeat;
			width: 80%;
			margin-bottom: 10px;
		}
		.bg-dark {
			background: none !important;
			border: 1px solid #232323;
			border-radius: 3px;

			h2 {
				font-size: 20px;
			}
		}

		.badge {
			padding: 5px;
			margin-right: 4px;
		}
	}
	footer.bg-dark {
		// background: $texture-bg !important;
		background: none !important;
		background-size: 20px;
		// background-size: 20px;
		background-repeat: repeat;
	}

	.block_events-categories {
		font-size: 20px;
		color: white;
		// text-shadow: 2px 2px 8px white;
		text-shadow: 0 0 px #555;
		transition: 1s;

		// font-weight: bold;
		margin-bottom: 12px;
		padding-bottom: 4px;
		cursor: pointer;

		border-bottom: 8px solid transparent;
		// padding-bottom: -4px;
		// margin-bottom: -4px;
		border-image: url('/assets/texture/texture-menu.png') 60 stretch;
		border-image-repeat: no-repeat;

		span {
			text-shadow: 0 0 10px #888;
		}

		.active {
			// color: $secundary;
			font-weight: bold;

			border-bottom: 12px solid transparent;
			// padding-bottom: -4px;
			// margin-bottom: -4px;
			border-image: url('/assets/texture/texture-menu.png') 30 stretch;
			border-image-repeat: no-repeat;
			// border-bottom: 2px solid $secundary;
		}
	}

	.discovery {
		// background-size: 100% auto;
		// background-position: bottom;
		// background: url('https://external-preview.redd.it/AU_vXWRMejWU49gXKdKZ4FMXUGIf3ajCGEn53hwZabg.png?width=640&crop=smart&auto=webp&s=8342925c47b3e35405e8146f2ea1b856f9c119c3');
		// height: auto !important;
		border-radius: 2px !important;
		width: 100%;
		height: 80px;
	}

	.event__card-img {
		width: 90%;
	}

	.container__login {
		.to-block .to-box {
			background: $texture-bg;
		}

		.h2,
		h2,
		h1 {
			font-size: 20px;
			color: white;
			// text-shadow: 2px 2px 8px white;
			text-shadow: 0 0 px #555;
			transition: 1s;

			border-bottom: 8px solid transparent;
			// padding-bottom: -4px;
			// margin-bottom: -4px;
			border-image: url('/assets/texture/texture-menu.png') 60 stretch;
			border-image-repeat: no-repeat;
		}
		label {
			color: white !important;
		}
	}

	.container__register form[data-v-8bb88f82] {
		background: $texture-bg !important;
	}

	.container__register {
		.title__register {
			color: white !important;
		}
		label {
			color: white !important;
		}
	}

	.title__register {
		color: #fff !important;
	}

	.container__login .divider {
		display: none;
	}

	div#swal2-content {
		color: white !important;
	}

	#ddown1 button {
		background: transparent;
		color: white !important;
		padding: 0 !important;
		border: none;
	}

	.v--modal-overlay[data-modal="login_ns"] {
    background: black !important;
  }
  .v--modal-overlay[data-modal="newuser_ns"] {
    background: black !important;
  }
}
