@mixin contentTixsme {
	@import url('https://fonts.googleapis.com/css?family=Lato:100,300,500,700,900');

	body {
		background: url('/assets/texture/texture_tixs_4.png') !important;
		background-repeat: repeat;
		background-size: cover;
	}

	.card_destaques {
		img {
			border-radius: 0 !important;
			padding: 4px !important;
		}

		cursor: pointer;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		border-radius: 2px;
		background-size: cover !important;
		background-position: 75% !important;
		// width: 250px !important;
		height: 200px;
		width: 100%;
		box-sizing: border-box;
	}

	.card__eventos-container {
		padding: 4px;
	}

	.card__eventos {
		cursor: pointer;
		position: relative;
		height: 145px;
		background-size: cover !important;
		background-position: center !important;
		box-sizing: border-box;
		// border: 5px solid #191919;
		display: flex;

		// border-radius: 2px;
		justify-content: center;
		// border-radius: 2px;

		box-shadow: 0 1px 3px rgba(0, 0, 0, 1);

		.card__eventos-img {
		}

		&:hover {
			background-blend-mode: darken;

			.card__eventos-nome,
			.card__eventos-btn {
				transition: opacity .4s ease-out;
				-moz-transition: opacity .4s ease-out;
				-webkit-transition: opacity .4s ease-out;
				-o-transition: opacity .4s ease-out;
				opacity: 1;
			}

			.card__eventos-nome {
				opacity: 0.6s;
			}
		}
	}

	.card__eventos-btn {
		align-self: center;
		text-align: center;
		display: flex;
		border: 1px solid $secundary;
		color: $secundary;
		padding: 6px;
		border-radius: 50%;
		opacity: 0;
	}

	.card__eventos-nome {
		position: absolute;
		bottom: 0;
		color: white;
		background: $secundary;
		// background: rgb(22, 71, 15);
		font-weight: bold;
		font-size: 10px;
		width: 100%;
		padding: 4px;
		min-height: 42px;
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	#block_features {
		background: #eee;

		padding: 20px 0 40px 0;
		h2 {
			margin: 0 auto;
			padding-top: 0;
			margin-top: 0;
			color: #222 !important;
			letter-spacing: 3px;
			font-weight: bold !important;
			text-transform: uppercase;
			border-bottom: 1px solid #777;
			width: 80%;
			margin-bottom: 10px;
		}
	}

	#block_events,
	#ad_container,
	#block_calendar {
		.container {
			// background: #191919;
			// background: url('/assets/texture/texture_tixs_4.png');
			background-size: 20px;
			background-repeat: repeat;
		}
	}
	#block_event {
		// background: url('/assets/texture/texture_tixs_4.png');
		background-size: 10px;
		background-repeat: repeat;
		padding-top: 15px;
		.bg-dark {
			background: none !important;
			border: 1px solid #232323;
			border-radius: 3px;

			h2 {
				font-size: 20px;
			}
		}

		.badge {
			padding: 5px;
			margin-right: 4px;
		}
	}
	footer.bg-dark {
		// background: url('/assets/texture/texture_tixs_4.png') !important;
		background: none !important;
		background-size: 20px;
		// background-size: 20px;
		background-repeat: repeat;
	}

	.block_events-categories {
		font-size: 20px;
		color: white;
		// font-weight: bold;
		margin-bottom: 12px;
		cursor: pointer;

		border-bottom: 8px solid transparent;
		// padding-bottom: -4px;
		// margin-bottom: -4px;
		border-image: url('/assets/texture/texture-menu.png') 60 stretch;
		border-image-repeat: no-repeat;

		.active {
			// color: $secundary;
			font-weight: bold;

			border-bottom: 12px solid transparent;
			// padding-bottom: -4px;
			// margin-bottom: -4px;
			border-image: url('/assets/texture/texture-menu.png') 30 stretch;
			border-image-repeat: no-repeat;
			// border-bottom: 2px solid $secundary;
		}
	}

	.discovery {
		// background-size: 100% auto;
		// background-position: bottom;
		// background: url('https://external-preview.redd.it/AU_vXWRMejWU49gXKdKZ4FMXUGIf3ajCGEn53hwZabg.png?width=640&crop=smart&auto=webp&s=8342925c47b3e35405e8146f2ea1b856f9c119c3');
		// height: auto !important;
		border-radius: 2px !important;
		width: 100%;
		height: 80px;
	}

	#block_calendar {
		h2 {
			color: white;
			font-weight: normal;
			font-size: 30px;
			// margin-left: 50px;
		}
	}

	.col_calendar_date {
		height: 100%;
		border-radius: 10px;
		cursor: pointer;
	}

	.calendar_date {
		background: #111;
		font-size: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		color: #fff;
		font-weight: bold;
		height: 60px;
		border-bottom: 2px solid #191919;
		width: 80px;
		transition: 0.5s;

		&:hover {
			color: #bbb;
		}
	}

	.calendar_date-day {
		font-size: 20px;
		font-weight: bold;
		width: 100%;
	}

	.calendar_img {
		height: 240px;
		background-size: cover !important;
		background-position: center !important;
	}

	.calendar_features {
		background: #000;
	}

	.calendar_features-title {
		font-size: 32px;
		margin-top: 0px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $secundary;
		font-weight: thin;
	}

	.calendar_features-text {
		font-size: 12px;
		color: #fff;
	}

	.calendar_features-social {
		position: absolute;
		bottom: 0;
		p {
			color: $secundary;
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 0;
			padding-bottom: 0;
			text-transform: uppercase;
		}

		#share {
			margin-top: 0;
			padding-top: 0;
			justify-content: flex-start !important;

			a:first-of-type() {
				margin-left: 0 !important;
			}
		}
	}

	.calendar_time_container {
		display: flex;
		text-align: center;
		// justify-content: center;
		align-items: center;
		padding: 14px;
		margin: 4px;
		background: #000;
	}

	.calendar_time {
		font-size: 30px;
		color: $secundary;
		font-weight: normal;
		// text-align: left;
		// position: absolute;
		// left: 30px;
	}

	.calendar_text {
		font-weight: bold;
		color: white;
		text-align: center;
		margin-left: 10px;
		text-transform: uppercase;
		font-size: 12px;
	}

	.event__card-img {
		width: 90%;
	}
}
