@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../to-framework/main.scss";

header.bg-dark {
	// background-color: rgb(202, 8, 19) !important;
	background-color: rgb(255, 255, 255) !important;
}
.header__logo .img {
	height: 55px;
	width: 100%;
}

.bg-dark {
	// background-color: #fff !important;
}

$gradiente: $secundary !important;

.swal2-progresscircle {
	background: $secundary !important;
}

footer.bg-dark,
.eventHeader header.bg-dark {
	background-color: rgb(255, 255, 255) !important;
	color: black !important;
}

footer a,
footer p,
header.bg-dark .navbar-nav a.nav-link,
.to-btn {
	color: #444 !important;

	@include MQ(S) {
		color: #fff !important;
	}
}

.swal2-styled {
	font-size: 0.8rem;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
	background: $secundary !important;
	border: none;
	color: white;
	transition: 0.5s;

	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		@include box-shadow();
	}
}

.team-1,
.features,
#section__slider {
	background: #f3f3f3 !important;
}

#ddown1 button {
	color: black !important;
}

.container-fluid {
	@include MQ(NS) {
		margin: 0 !important;
		padding: 0 !important;
	}
}
