@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../to-framework/main.scss";

header.bg-dark {
	// background-color: rgb(202, 8, 19) !important;
	background-color: none !important;
}
.header__logo .img {
	height: 55px;
	width: 100%;
}

footer.bg-dark {
	background: linear-gradient(135deg, #12c2e9 5%, #c471ed 50%, #f64f59) !important;
}

// footer a,
// footer p {
// 	color: black !important;
// }

.team-1,
.features,
#section__slider {
	background: #f3f3f3 !important;
}

// footer.bg-dark a {
// 	color: black !important;
// }

// footer .img {
// 	// background: #fff;
// 	// background-position: center !important;
// 	// border-radius: 2px;
// }

.navbar-fixed-top .to-btn {
	// color: white !important;
}
.header__logo .img {
	height: 55px;
	width: 100%;
	background-position: left center;
}

.swal2-progresscircle {
	background: $secundary !important;
}

.swal2-styled {
	font-size: 0.8rem;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
	background: $secundary !important;
	border: none;
	color: white;
	transition: 0.5s;

	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		@include box-shadow();
	}
}

#ddown1 button {
	color: black !important;
}

.bg__main {
	background: linear-gradient(135deg, #12c2e9 5%, #c471ed 50%, #f64f59);
	// background: linear-gradient(135deg, #196dd4 10%, #01a2e7);
	@include MQ(S) {
		display: none !important;
	}
}

.eventHeader header.bg-dark,
.header__mobile {
	background: linear-gradient(135deg, #12c2e9 5%, #c471ed 50%, #f64f59) !important;
}

#modals-container .btn-success:hover,
#modals-container .btn-success:focus,
#modals-container .btn-success {
	background: linear-gradient(135deg, #12c2e9 5%, #c471ed 50%, #f64f59) !important;
}
.eventHeader header.navbar-fixed-top {
	background: white !important;
	background-image: white !important;
}

.v--modal-overlay {
	z-index: 999999 !important;
}
