$primary:#fff;
$secundary: #6C4B91;
$cor-texto: #6C4B91;

$white: #fff;
$black: #2d313c;
$border-color: #222;

$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);