@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../to-framework/main.scss";

$cor-fundo: $primary;
$tamanho-header: 45px;
$gradiente: $secundary !important;
// colocar imagem dentro de url ou cor hex
$fundo: url('/assets/bg-dz91.jpg');
// $logo-face: url('/assets/images/logo-facebook.png');
// $logo-insta: url('/assets/images/logo-instagram.png');
// $logo-tw: url('/assets/images/logo-twitter.png');
// $logo-yt: url('/assets/images/logo-youtube.png');


header.bg-dark {
	background: linear-gradient(to bottom right, rgb(254,60,103), rgb(255,104,84) ) !important; 
}

.team-1,
.features,
#section__slider {
	background: #f3f3f3 !important;
}

.footer__logo .img {
	height: 40px;
}

.header__logo .img {
	height: $tamanho-header;
	width: 100%;
	background-position: left center;
}

#ddown1 button {
	color: #000 !important;
}

.bg__main {
	background: $fundo !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: 100% !important;
	background-color: rgb(255, 104, 84) !important;
	margin-bottom: -110px !important;
	margin-top: -20px !important;
}


.eventHeader header.bg-dark,
.header__mobile {
	background: linear-gradient(to bottom right, rgb(254,60,103), rgb(255,104,84) ) !important; 
}

.v--modal-overlay {
	z-index: 999998 !important;
}

.navbar-fixed-top {
	background: $cor-fundo !important;
}

.to-btn {
	font-size: 13px !important;
}

.navbar-fixed-top .to-btn {
	font-size: 13px !important;
}

footer.bg-dark {
	background: linear-gradient(to bottom right, rgb(254,60,103), rgb(255,104,84) ) !important;
	color: #fff !important;
}


footer a,
footer p,
header.bg-dark .navbar-nav a.nav-link,
.to-btn,
.navbar-fixed-top .to-btn {
	color: #ffff !important;
	font-weight: normal;

	@include MQ(S) {
		color: #ffff !important;
		// background-color: #000 !important;
	}
}

footer .social__media img{
	// height: 48px !important;
	width: 50px !important;
	padding: 10px !important;
	margin-top: -10px !important;
	margin-right: 10px !important;
	transition: 0.5s ease-out !important;
}

footer .social__media img:hover{
	transform: scale(1.2) !important;
	transition: 0.5s ease-out;
}

.social__media img:first-child{
	margin-left: -17px !important;

	@include MQ(S){
		margin-left: 0 !important; 
	}
}

footer .logos__footer img{
	padding: 3px !important;
	// height: 37px !important;
	// width: 60px !important;
	// margin-top: -120px !important;

	@include MQ(S){
		// padding: 2px !important;
    	height: 70px !important;
    	width: 100px !important;
    	margin-top: -51px !important;
	}
}

.logos__footer{
	margin: 0px !important;

	@include MQ(S){
	margin-top: 80px !important;
	margin-left: 37px !important;
	}
}