@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../to-framework/main.scss";

$cor-fundo: $primary;
$tamanho-header: 45px;
$gradiente: $secundary !important;
// colocar imagem dentro de url ou cor hex
$fundo: url('/assets/bg-dz9.jpg');
// $logo-face: url('/assets/images/logo-facebook.png');
// $logo-insta: url('/assets/images/logo-instagram.png');
// $logo-tw: url('/assets/images/logo-twitter.png');
// $logo-yt: url('/assets/images/logo-youtube.png');


header.bg-dark {
	background-color: black !important;
}

.team-1,
.features,
#section__slider {
	background: #f3f3f3 !important;
}

.footer__logo .img {
	height: 40px;
}

.header__logo .img {
	height: $tamanho-header;
	width: 100%;
	background-position: left center;
}

#ddown1 button {
	color: #000 !important;
}

.bg__main {
	background: $fundo !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}


.eventHeader header.bg-dark,
.header__mobile {
	background: $cor-fundo !important;
}

.v--modal-overlay {
	z-index: 999998 !important;
}

.navbar-fixed-top {
	background: $cor-fundo !important;
}

.to-btn {
	font-size: 13px !important;
}

.navbar-fixed-top .to-btn {
	font-size: 13px !important;
}

footer.bg-dark {
	background-color: black !important;
	color: white !important;
}

footer a,
footer p,
header.bg-dark .navbar-nav a.nav-link,
.to-btn,
.navbar-fixed-top .to-btn {
	color: white !important;
	font-weight: normal;

	@include MQ(S) {
		color: $cor-texto !important;
	}
}

footer .social__media img{
	height: 48px !important;
	width: 48px !important;
	padding: 10px !important;
	margin-top: -10px !important;
	margin-right: 10px !important;
}

.social__media img:first-child{
	margin-left: -20px !important;
}

