$primary: #8f61a8;
$secundary: #8c61e9;

$itau-laranja-escuro: #fb7736;
$itau-laranja-claro: #fb9226;

$white: #ffffff;
$black: #343a40;
$border-color: #343a40;
$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
