$primary: rgb(16,16,16);
$secundary: rgb(212, 122, 42) !default;
$cor-texto: #fff !default;

$white: #fff !default;
$black: #2d313c !default;
$border-color: #222;

$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
