$primary:#4A86FA !default;
$secundary: #C2CB38 !default;

$white: #fff !default;
$black: #2d313c !default;
$border-color: #222;

$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
