@import './node_modules/bootstrap/scss/bootstrap.scss';
@import "/../node_modules/bootstrap-vue/dist/bootstrap-vue.min.css";

@import "settings.scss";

@import "../../to-framework/main.scss";

body {
	display: block !important;
}

footer .social__media img{
	// height: 48px !important;
	width: 50px !important;
	padding: 10px !important;
	margin-top: -10px !important;
	margin-right: 10px !important;
	transition: 0.5s ease-out !important;
}

footer .social__media img:hover{
	transform: scale(1.2) !important;
	transition: 0.5s ease-out;
}

.social__media img:first-child{
	margin-left: -17px !important;

	@include MQ(S){
		margin-left: 0 !important; 
	}
}

.navbar__header{
	border-radius: 15px !important;
}


.footer__color {
	// background: linear-gradient(to bottom right, rgb(254,60,103), rgb(255,104,84) ) !important;
	color: #fff !important;
	background: linear-gradient(to bottom right, rgb(46, 10, 94), rgb(88, 52, 155), rgb(112, 72, 165)) !important;
}
