$primary:#222 !default;
$secundary: #0b5394 !default;

$white: #fff !default;
$black: #222 !default;
$border-color: #222;

$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
