$primary: rgb(33, 105, 15) !default;
$secundary: rgb(136, 200, 72) !default;

$white: #fff !default;
$black: #333 !default;
$border-color: #222;

$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
