$primary:#d0e0e3 !default;
$secundary: #666666 !default;
$cor-texto: #666666 !default;

$white: #fff !default;
$black: #2d313c !default;
$border-color: #222;

$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
