$primary: rgb(247, 247, 247) !default;
$secundary: #0269b0 !default;
$cor-texto: #0269b0 !default;

$white: #fff !default;
$black: #2d313c !default;
$border-color: #222;

$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
