$secundary: rgba(202, 8, 19, 0.8);
$primary: #222;

$itau-laranja-escuro: #fb7736;
$itau-laranja-claro: #fb9226;

$white: #ffffff;
$black: #333;
$border-color: #333;
$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
