@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../to-framework/main.scss";

header.bg-dark {
	// background-color: rgb(202, 8, 19) !important;
	background-color: none !important;
}
.header__logo .img {
	height: 55px;
	width: 100%;
}

footer.bg-dark {
	background: radial-gradient(circle farthest-corner at 10% 20%, #ffc576 0%, #fe6a67 47.7%, #f01717 92.3%) !important;
}

// footer a,
// footer p {
// 	color: black !important;
// }

.team-1,
.features,
#section__slider {
	background: #f3f3f3 !important;
}

// footer.bg-dark a {
// 	color: black !important;
// }

// footer .img {
// 	// background: #fff;
// 	// background-position: center !important;
// 	// border-radius: 2px;
// }

$gradiente: $secundary !important;
.navbar-fixed-top .to-btn {
	// color: white !important;
}
.header__logo .img {
	height: 55px;
	width: 100%;
	background-position: left center;
}

.swal2-progresscircle {
	background: $secundary !important;
}

.swal2-styled {
	font-size: 0.8rem;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
	background: $secundary !important;
	border: none;
	color: white;
	transition: 0.5s;

	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
		@include box-shadow();
	}
}

#ddown1 button {
	color: black !important;
}

.bg__main {
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(255, 197, 118, 1) 0%,
		rgba(254, 106, 103, 1) 47.7%,
		rgba(240, 23, 23, 1) 92.3%
	) !important;

	// background: linear-gradient(135deg, #196dd4 10%, #01a2e7);
	@include MQ(S) {
		display: none !important;
	}
}

.eventHeader header.bg-dark,
.header__mobile {
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(255, 197, 118, 1) 0%,
		rgba(254, 106, 103, 1) 47.7%,
		rgba(240, 23, 23, 1) 92.3%
	) !important;
}

#modals-container .btn-success:hover,
#modals-container .btn-success:focus,
#modals-container .btn-success {
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(255, 197, 118, 1) 0%,
		rgba(254, 106, 103, 1) 47.7%,
		rgba(240, 23, 23, 1) 92.3%
	) !important;
}

.to-block .to-touch,
.container__register form {
	border-top-color: rgba(254, 106, 103, 1) !important;
}

.container__available-times .card__hour {
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(255, 197, 118, 1) 0%,
		rgba(254, 106, 103, 1) 47.7%,
		rgba(240, 23, 23, 1) 92.3%
	) !important;
	* {
		color: white !important;
	}
}

.card__time {
	&:hover {
		background: rgba(254, 106, 103, 1) !important;
		*,
		p.lead {
			color: white !important;
		}

		i {
			color: rgba(254, 106, 103, 1) !important;
		}
	}
}

.card__time-active {
	background: rgba(254, 106, 103, 1) 47.7%;
	*,
	p.lead {
		color: white !important;
	}
}

.icon-active {
	color: rgba(254, 106, 103, 1) !important;
}

.eventHeader header.navbar-fixed-top {
	background: white !important;
	background-image: white !important;
}

.v--modal-overlay {
	z-index: 999999 !important;
}
