$primary: #333 !default;
$secundary: rgb(227, 142, 11) !default;
$tertiary: rgb(10, 60, 105) !default;

$white: #fff !default;
$black: #222 !default;
$border-color: #222;

$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
